/* ********************************************************** */

section.home {
  position: relative;
  min-height: 100vh;
}
section.home .body {
  padding-top: 100px;
  position: relative;
  z-index: 3;
}
section.home .body .content {
  min-height: calc(100vh - 100px);
}
section.home .body .home-person {
  height: calc(100vh - 100px);
  object-fit: cover;
}
section.home .body h1 {
  color: var(--primary);
  font-family: "a-space";
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  section.home .body h1 {
    font-size: 38px;
  }
}
@media (min-width: 1400px) {
  section.home .body h1 {
    font-size: 72px;
  }
}

.input-group-append .input-group-append{
  padding: 15px;
  height: auto !important;
  line-height: 1 !important;
}

section.home .social {
  position: absolute;
  bottom: 10%;
  left: var(--bs-gutter-x, 0.75rem);
  z-index: 4;
}
section.home .social a {
  margin: 10px;
}

section.home .social img {
  width: 12px;
  height: 12px;
  object-fit: contain;
  /* padding: 10px 0; */
}

section.home .gotoNext {
  z-index: 2;
  margin: 0 auto;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  z-index: 4;
  cursor: pointer;
  margin-bottom: 16px;
}
section.home .gotoNext h5 {
  font-family: "adam-bold";
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: var(--onSurface2);
}
section.home .gotoNext img {
  width: 25px;
  object-fit: contain;
}

/* ************************************************************* */
section.services {
  position: relative;
  /* min-height: 150vh; */
}
section.services .body {
  z-index: 4;
  position: relative;
}

section.services .body h1 {
  color: var(--onSurface2);
  font-family: "a-space";
  text-transform: uppercase;
  font-size: 38px;
  margin-bottom: 20px;
  width: min-intrinsic; /* old Chrome, Safari */
  width: -webkit-min-content; /* less old Chrome, Safari */
  width: -moz-min-content; /* current Firefox */
  width: min-content;
  text-shadow: 2px 0px 8px rgb(0 0 0 / 60%);
}
@media (min-width: 768px) {
  section.services .body h1 {
    font-size: 72px;
  }
}
@media (min-width: 1400px) {
  section.services .body h1 {
    font-size: 100px;
  }
}

section.services .service {
  padding: 20px;
  position: relative;
  height: 500px;
  margin-bottom: 20px;
  background-color: black;
}

section.services .service .header,
section.services .service .body,
section.services .service .footer {
  z-index: 2;
  position: relative;
}

/*  */

section.services .hosting .service::before{
  background-image:  url('../images/Group\ 55.png');
  }
  
  section.services .hosting:hover .service::before{    
    opacity: 0.5;
  }

/*  */

  section.services .judging .service::before{
    background-image:  url('../images/Judging.JPG');
    opacity: 0.7;
    }
    
    section.services .judging:hover .service::before{    
      opacity: 0.4;
    }

/*  */

    section.services .organizing .service::before{
      background-image:  url('../images/organizing.png');
      }
      
      section.services .organizing:hover .service::before{    
        opacity: 0.5;
      }

/*  */

    section.services .museum .service::before{
      background-image:  url('../images/Group\ 55.png');
      }
      
      section.services .museum:hover .service::before{    
        opacity: 0.5;
      }
      
/*  */

section.services .service::before{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.services .service::before{
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  opacity: 0.95;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/*  */

section.services .service p {
  line-height: 1.1;
  overflow: hidden;
}
section.services .service a {
  color: var(--onSurface2);
  text-decoration: underline;
  text-transform: uppercase;
  padding: 0 !important;
  display: none;
}

section.services .service h3 {
  margin-top: 10px;
  font-family: "babyBlue";
  text-transform: uppercase;
}
section.services .service:hover a {
  display: inline-flex;
}
section.services .service:hover .placeholder {
  display: block;
}

section.services .service:hover .main {
  display: none;
}

section.services .service .placeholder {
  display: none;
}
section.services .service:hover h3 {
  color: var(--primary);
}


/*Toggle scroll*/
.overflow-hidden{
  overflow-y: hidden;
}
.overflow-visible{
  overflow-y: visible;
}
body{
  overflow-y: hidden;
}
