/* ********************************************************** */
section.home {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/about-us.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position-y: bottom;
}
section.home .body {
  padding-top: 0;
  position: relative;
  z-index: 3;
}
section.home .body button {
  max-width: 110px;
}
section.home .body .content {
  min-height: calc(100vh - 100px);
}
section.home .body .home-person {
  height: calc(90vh - 100px);
  object-fit: cover;
}
section.home .body h1 {
  color: var(--primary);
  font-family: "a-space";
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 36px;
}
section.home .body p{
  font-size: 26px;
  margin-top: 36px;
  font-weight: bold;
}

[dir="rtl"] section.home .body h1 {
  font-family: "bustan";
}

section.home .body h4 {
  font-size: 24px;
}
@media (min-width: 768px) {
  section.home .body h1 {
    font-size: 38px;
  }
}
@media (min-width: 1400px) {
  section.home .body h1 {
    font-size: 72px;
  }
}

@media (min-width: 768px) {
  section.home .body h4 {
    font-size: 30px;
  }
}
@media (min-width: 1400px) {
  section.home .body h4 {
    font-size: 60px;
  }
}
section.home .social {
  position: absolute;
  bottom: 10%;
  left: var(--bs-gutter-x, 0.75rem);
  z-index: 4;
}
section.home .social a {
  margin: 10px;
}

section.home .social img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

section.info {
  position: relative;
  padding: 50px 0;
  display: flex;
  align-items: center;
  min-height: 80vh;
  background-image: url('../images/whoweare.png');
  background-position: right;
  background-color: black;
  background-repeat: no-repeat;
}

section.info .content {
  position: relative;
  z-index: 4;
}

section.info .content p {
  margin: 0;
}
section.info .content h1 {
  font-family: "a-space";
  font-size: 72px;
}
[dir="rtl"] section.info .content h1  {
  font-family: "pfdin";
}

section.info.vision .content h1 {
  color: var(--primary);
}

section.info .content.who-we-are h1{
  color: #FCAC6A;
  }


  .margin-t-0{

    margin-top: 0 !important;
  }
  @media (max-width: 768px) {

  .about-mobile-header{

    height: 100%;
    justify-content: flex-end;
  }


  section.home .body p{

font-size: 16px;
margin-top: 0px;
text-align: left;

  }
  section.home .social {
    bottom: 1.5%;

  }
  section.home .body h1{

    text-align: left;
  }
  .vision #mission{

    margin-top: 36px
  }
  section.info .content h1 {
    font-size: 36px;
  }
  }

section.info .content p{
  font-size: 18px;
    font-weight: bold;
  } 


