/* ********************************************************** */
body {
  background-image: url(../images/about-us.jpg);
}
section.home {
  position: relative;
  min-height: 100vh;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position-y: bottom;
}
section.home .body {
  padding-top: 0;
  position: relative;
  z-index: 3;
}
section.home .body button {
  max-width: 110px;
}
section.home .body .content {
  min-height: calc(100vh - 100px);
}
section.home .body .home-person {
  height: calc(90vh - 100px);
  object-fit: cover;
}
section.home .body h1 {
  color: var(--primary);
  font-family: "a-space";
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 36px;
}
section.home .body p {
  font-size: 26px;
  margin-top: 36px;
  font-weight: bold;
}

[dir="rtl"] section.home .body h1 {
  font-family: "bustan";
}

section.home .body h4 {
  font-size: 24px;
}
@media (min-width: 768px) {
  section.home .body h1 {
    font-size: 38px;
  }
}
@media (min-width: 1400px) {
  section.home .body h1 {
    font-size: 72px;
  }
}

@media (min-width: 768px) {
  section.home .body h4 {
    font-size: 30px;
  }
}
@media (min-width: 1400px) {
  section.home .body h4 {
    font-size: 60px;
  }
}
section.home .social {
  position: absolute;
  bottom: 10%;
  left: var(--bs-gutter-x, 0.75rem);
  z-index: 4;
}
section.home .social a {
  margin: 10px;
}

section.home .social img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

section.info {
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

section.info .content {
  position: relative;
  z-index: 4;
}

section.info .content p {
  margin: 0;
}
section.info .content h1 {
  font-family: "atie";
  font-size: 72px;
}
[dir="rtl"] section.info .content h1 {
  font-family: "pfdin";
}

section.info.vision .content h1 {
  color: var(--primary);
}

section.info .content.who-we-are h1 {
  color: #fcac6a;
}

.margin-t-0 {
  margin-top: 0 !important;
}

section.home .body .about-mobile-header {
  margin-top: auto;
}
section.home .body .about-mobile-header h1 {
  color: white;
  text-align: left;
  max-width: max-content;
  margin-left: auto;
}

section.info.vision {
  display: flex;
  flex-direction: column;
}

section.info.vision::before,
section.info.vision::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--primary);
  background: linear-gradient(
    90deg,
    var(--primary00) 0%,
    var(--primary) 50%,
    var(--primary00) 100%
  );
  margin: 60px 0;
}

@media (max-width: 768px) {
  .about-mobile-header {
    height: 100%;
    justify-content: flex-end;
  }

  section.home .body p {
    font-size: 16px;
    margin-top: 0px;
    text-align: left;
  }
  section.home .social {
    bottom: 1.5%;
  }
  section.home .body h1 {
    text-align: left;
  }
  .vision #mission {
    margin-top: 36px;
  }
  section.info .content h1 {
    font-size: 36px;
  }
}

section.info .content p {
  font-size: 18px;
  font-weight: bold;
}

section.crew {
  padding-bottom: 100px;
}
section.crew h1.title {
  font-family: "atie";
  font-size: 62px;
  margin-bottom: 30px;
}
section.crew .member {
  width: 100%;
  height: 300px;
  margin: 10px;
  background-color: var(--primary);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}
section.crew .member.lg {
  height: 400px;
}

section.crew .row .col {
  min-width: 200px;
}
section.crew .row .col .member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.home .body {
  margin-top: auto;
}
.about-header h1{

  font-family: 'atie' !important;
  text-transform: lowercase !important;
}