/* ********************************************************** */
section.home {
  position: relative;
  min-height: 100vh;
  background-image: url('../images/Group\ 22.png');
  background-size: cover;
  background-position: center;
}
section.home .body {
  padding-top: 0px;
  position: relative;
  z-index: 3;
}

section.home .body .container{
display: flex;
    height: 100%;
    flex-direction: column;
  }

  section.home .body .container .row{
  min-height: 50vh;
    margin: 0;
  }


section.home .body button {
  max-width: 110px;
}
section.home .body .content {
min-height: auto;
}
section.home .body .home-person {
  height: calc(90vh - 100px);
  object-fit: cover;
}
section.home .body h1 {
  color: var(--primary);
  font-family: "a-space";
  text-transform: uppercase;
  font-size: 36px;
}
[dir="rtl"] section.home .body h1 {
  font-family: "bustan";
}
section.home .body h4 {
  font-size: 24px;
}
@media (min-width: 768px) {
  section.home .body h1 {
    font-size: 38px;
  }
}
@media (min-width: 1400px) {
  section.home .body h1 {
    font-size: 72px;
  }
}

@media (min-width: 768px) {
  section.home .body h4 {
    font-size: 30px;
  }
}
@media (min-width: 1400px) {
  section.home .body h4 {
    font-size: 60px;
  }
}
section.home .social {
  position: absolute;
  bottom: 10%;
  left: var(--bs-gutter-x, 0.75rem);
  z-index: 4;
}
section.home .social a {
  margin: 10px;
}

section.home .social img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

section.contact {
  position: relative;
}
section.contact .body {
  z-index: 4;
  position: relative;
  padding: 100px 0;
}
section.contact .body form {
  margin-bottom: 10px;
}
section.contact .body form > * {
  margin-bottom: 10px;
}

section.contact .body h3 {
  font-weight: bold;
  /* font-size: 36px; */
}

section.contact .body p {
  font-size: 20px;
}
section.contact .body img {
  width: 25px;
  height: auto;
  object-fit: contain;
}

section.contact .body .item > * {
  margin-right: 10px;
  margin-bottom: 0;
}

.padding-b-48{
  padding-bottom: 48px;
}

.message-form input, .message-form textarea{
  margin-bottom: 10px;

}
.message-form .item{
margin-bottom: 14px;

}
.message-form .item p{
margin-bottom: 0;
margin-left: 16px;
}

.message-form .forms-text {
  background-color: rgba(0,0,0,0.54);
  padding: 24px;
}

@media (max-width: 768px) {
.contact-text-mobile{
  margin-top: 30px;

}
section.home {
 
  background-size: 315%;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-position-x: 20%;
}
}