/* ********************************************************** */

section.home {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/homebg.png);
  background-position-x: -150px;
  background-size: cover;
  background-position-y: center;
  background-position-x: 46%;
  background-repeat: no-repeat;
}

section.home .body {
  padding-top: 100px;
  position: relative;
  z-index: 3;
}

section.home .body .content {
  min-height: calc(100vh - 100px);
}

section.home .body .home-person {
  height: calc(100vh - 100px);
  object-fit: cover;
}

section.home .body h1 {
  color: white;
  font-family: "atie";
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 20px;
}

[dir="rtl"] section.home .body h1 {
  font-family: "bustan";
}

@media (min-width: 768px) {
  section.home .body h1 {
    font-size: 38px;
  }
}

@media (min-width: 1400px) {
  section.home .body h1 {
    font-size: 72px;
  }
}

.input-group-append .input-group-append {
  padding: 15px;
  height: auto !important;
  line-height: 1 !important;
}

section.home .social {
  position: absolute;
  bottom: 10%;
  left: var(--bs-gutter-x, 0.75rem);
  z-index: 4;
}

section.home .social a {
  margin: 10px;
}

section.home .social img {
  width: 12px;
  height: 12px;
  object-fit: contain;
  /* padding: 10px 0; */
}

section.home .gotoNext {
  z-index: 2;
  margin: 0 auto;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  z-index: 4;
  cursor: pointer;
  margin-bottom: 0px;
}

section.home .gotoNext h5 {
  font-family: "adam-bold";
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: var(--onSurface2);
  margin-bottom: 0px;
}

[dir="rtl"] section.home .gotoNext h5 {
  font-family: "pfdin";
}

section.home .gotoNext img {
  width: 48px;
  object-fit: contain;
}

/* ************************************************************* */

section.services {
  position: relative;
  /* min-height: 150vh; */
  /* background-image: url("../images/Group\ 139.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

section.services .body {
  z-index: 4;
  position: relative;
}

section.services .body h1 {
  color: var(--onSurface2);
  font-family: "atie";
  text-transform: uppercase;
  font-size: 38px;
  margin-bottom: 20px;
  text-shadow: 2px 0px 8px rgb(0 0 0 / 60%);
  text-align: center;
}
section.services .body h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--primary);
  background: linear-gradient(
    90deg,
    var(--primary00) 0%,
    var(--primary) 50%,
    var(--primary00) 100%
  );
}

[dir="rtl"] section.services .body h1 {
  font-family: "bustan";
}

@media (min-width: 768px) {
  section.services .body h1 {
    font-size: 72px;
  }
}

@media (min-width: 1400px) {
  section.services .body h1 {
    font-size: 100px;
  }
}

section.services .service {
  padding: 20px;
  position: relative;
  height: 500px;
  margin-bottom: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.services .service .header {
  z-index: 2;
  position: relative;
}

section.services .hosting .service::before {
  background-image: url("../images/hosting.png");
  opacity: 0.9;
}

/*  */

section.services .judging .service::before {
  background-image: url("../images/Judging.JPG");
  opacity: 0.9;
}

/*  */

section.services .organizing .service::before {
  background-image: url("../images/organizing.png");
  opacity: 0.9;
}

/*  */

section.services .museum .service::before {
  background-image: url("../images/museum.jpeg");
  background-position-x: right;
  opacity: 0.9;
}

/*  */

section.services .service::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.services .service::before {
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  opacity: 0.95;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/*  */

section.services .service p {
  line-height: 1.25;
  overflow: hidden;
  font-weight: 600;
}
[dir="rtl"] section.services .service p {
  font-weight: normal;
}

section.services .service a {
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 0 !important;
  font-weight: 600;
}

section.services .service h3 {
  margin-top: 10px;
  font-family: "babyBlue";
  text-transform: uppercase;
}
[dir="rtl"] section.services .service h3 {
  font-family: "pfdin";
}
section.services .service:hover .placeholder {
  display: block;
}

section.services .service:hover .main {
  display: none;
}

section.services .service .placeholder {
  display: none;
}

section.services .service:hover h3 {
  color: var(--primary);
}

/*Toggle scroll*/
.overflow-hidden {
  overflow-y: hidden;
}

.overflow-visible {
  overflow-y: visible;
}

body {
  overflow-y: hidden;
}

/*  */

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

.scroll-btn {
  display: block;
  text-align: center;
}

.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}

.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

.scroll-btn p {
  margin-bottom: 0px;
}

.home .input-group > .form-control,
.home .input-group > .form-select {
  flex: 1 1 auto;
}

.home form p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.header-image img {
  width: 90%;
}

.header-image::after {
  content: "";
  display: block;
  width: 25%;
  height: 10px;
  margin: 25px 0;
  background: linear-gradient(to right, var(--primary), var(--primary00));
}

.header-text {
  font-size: 26px;
  line-height: normal;
}

@media (max-width: 768px) {
  .flex-end-xs {
    align-items: flex-end;
  }

  .left-header {
    text-align: left;
  }

  .justify-content-end-xs {
    justify-content: flex-end;
  }
}

.services {
  padding: 60px 0;
}

.services-grid::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--primary);
  background: linear-gradient(
    90deg,
    var(--primary00) 0%,
    var(--primary) 50%,
    var(--primary00) 100%
  );
}

section.services .body p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: "abel";
}

[dir="rtl"] section.services .body p {
  font-family: "pfdin";
}
