/* ********************************************************** */
section.home {
  position: relative;
  min-height: 100vh;
}
.buy-now section.home{
  background: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)), url('../images/top\ tube.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.buy-now .info h4{
  font-size: 18px;
  width: 75%;
}
.buy-now .info{

  background: linear-gradient(rgba(0,0,0,85%),rgba(0,0,0,85%)), url('../images/hot\ end\ 2nd\ option.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.buy-now .info .info-2{

margin-top: 60px;
}

.buy-now section.info{
  height: auto;
  min-height: 72vh;
  align-items: flex-end;
  padding-bottom: 72px;
} 
.buy-now iframe{

  width: 100%;
  height: 25vh;
}

.buy-now .video{


  background: linear-gradient(rgba(0,0,0,90%),rgba(0,0,0,90%)), url('../images/printer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 70vh;
  display: flex;
  align-items: center;
}
section.home .body {
  padding-top: 100px;
  position: relative;
  z-index: 3;
}
section.home .body button {
  max-width: 110px;
}
section.home .body .content {
  min-height: calc(100vh - 100px);
}
.buy-now section.home .body .content{

  height: auto;
  min-height: unset;
  margin-top: 100px;
  margin-bottom: 72px;

}
section.home .body .home-person {
  height: calc(90vh - 100px);
  object-fit: contain;
}
.buy-now section.home .body .home-person {
height: 650px;
}
.printer-absolute{
  height: 650px;
  left: 0;
  position: absolute;
  top: 100%;
}
section.home .body h1 {
  color: var(--primary);
  font-family: "a-space";
  text-transform: uppercase;
  font-size: 36px;
}
[dir="rtl"] section.home .body h1 {
  font-family: "bustan";
}
section.home .body h4 {
  font-size: 24px;
}
@media (min-width: 768px) {
  section.home .body h1 {
    font-size: 38px;
  }

}
@media (min-width: 1400px) {
  section.home .body h1 {
    font-size: 72px;
  }
}
@media (min-width: 1400px) {
  section.home .body h4 {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  section.home .body h4 {
    font-size: 30px;
  }
}

section.home .social {
  position: absolute;
  bottom: 10%;
  left: var(--bs-gutter-x, 0.75rem);
  z-index: 4;
}
section.home .social a {
  margin: 10px;
}

section.home .social img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

section.info {
  position: relative;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
}

section.info .content {
  position: relative;
  z-index: 4;
}

section.info .content p {
  font-weight: bold;
  margin: 0;
}
section.info .content h1 {
  color: var(--primary);
  font-weight: bold;
  font-family: "a-space";
}
[dir="rtl"] section.info .content h1 {
  font-family: "bustan";
}

section.project {
  padding: 50px 0;
  position: relative;
}

section.project .content {
  z-index: 4;
  position: relative;
}

section.project .item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 10px;
}

section.project h2 {
  font-family: "a-space";
  font-size: 24px;
  color: var(--primary);
}

[dir="rtl"] section.project h2 {
  font-family: "bustan";
}

section.project p {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  section.project h2 {
    font-size: 38px;
  }
}
@media (min-width: 1400px) {
  section.project h2 {
    font-size: 72px;
  }
}

@media (max-width: 768px) {
  .printer-absolute{
    top: 60%;
  }
}


.buy-now section.contact {
  background: linear-gradient(rgba(0,0,0,90%),rgba(0,0,0,90%)), url('../images/printer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
section.contact .body {
  z-index: 4;
  position: relative;
  padding: 100px 0;
}
section.contact .body form {
  margin-bottom: 10px;
}
section.contact .body form > * {
  margin-bottom: 10px;
}

section.contact .body h3 {
  font-weight: bold;
  /* font-size: 36px; */
}

section.contact .body p {
  font-size: 20px;
}
section.contact .body img {
  width: 25px;
  height: auto;
  object-fit: contain;
}

section.contact .body .item > * {
  margin-right: 10px;
  margin-bottom: 0;
}

.btn{
text-transform: uppercase;
font-family: 'adam-bold';
}
.btn-outline{
  color: var(--primary);
}

.btn-outline.btn:hover {
  color: var(--primary);
    text-decoration: underline;
}